#1.What are data structures, and why are they important ?
>Data structures are ways of organizing and storing data so that they can be accessed and modified efficiently. They are important because they provide a means to manage large amounts of data and perform operations such as searching, sorting, and modifying the data in an efficient manner

#2. Explain the difference between mutable and immutable data types with examples

>Mutable data types can be changed after their creation. Examples include lists and dictionaries.

>Immutable data types cannot be changed once created. Examples include tuples and strings.

#3.What are the main differences between lists and tuples in Python?

>Lists are mutable, meaning their elements can be modified. Tuples are immutable, so once created, they cannot be changed.

>Lists have dynamic size, while tuples have a fixed size.

>Lists have more built-in methods compared to tuples.

#4.Describe how dictionaries store data.

>Dictionaries store data in key-value pairs. Each key is unique, and it maps to a value. This allows for fast lookups, additions, and deletions of data

#5.Why might you use a set instead of a list in Python?

>Sets are unordered collections of unique elements. They are useful when you need to eliminate duplicates and perform set operations like unions and intersections efficiently

#6.What is a string in Python, and how is it different from a list?

>A string is a sequence of characters. It is immutable, meaning once created, it cannot be changed.

>A list, on the other hand, is a collection of elements that can be of different data types and is mutable

#7.How do tuples ensure data integrity in Python.

>Tuples ensure data integrity by being immutable. This means once a tuple is created, its contents cannot be modified, preventing accidental changes to the data.

#8.What is a hash table, and how does it relate to dictionaries in Python?

>A hash table is a data structure that maps keys to values using a hash function. In Python, dictionaries are implemented using hash tables, allowing for fast key-value pair lookups

#9.Can lists contain different data types in Python.

>Yes, lists in Python can contain elements of different data types, including integers, strings, and even other lists.

#10.Explain why strings are immutable in Python.

>Strings are immutable in Python to ensure data integrity and security. Immutable objects can be shared safely between multiple parts of a program without unexpected changes.

#11.What advantages do dictionaries offer over lists for certain tasks?

>Dictionaries allow for fast lookups, insertions, and deletions based on keys, while lists require iteration over elements.

>Dictionaries use key-value pairs, making them suitable for associative arrays and mappings where keys provide meaningful context

#12.Describe a scenario where using a tuple would be preferable over a list.


>When you need an immutable sequence of items, such as storing coordinates (x, y) or fixed settings, tuples ensure the data cannot be accidentally modified.

#13.How do sets handle duplicate values in Python.

>Sets automatically eliminate duplicate values. When elements are added to a set, any duplicates are discarded, ensuring all elements are unique.

#14.How does the “in” keyword work differently for lists and dictionaries.

>For lists, in checks if a value exists in the list.

>For dictionaries, in checks if a key exists in the dictionary

#15.Can you modify the elements of a tuple? Explain why or why not?

>You cannot modify elements of a tuple because tuples are immutable. This immutability ensures that the data remains constant and secure

#16.What is a nested dictionary, and give an example of its use case?

>A nested dictionary is a dictionary within a dictionary. It's useful for hierarchical data, such as a dictionary of students with each student having a dictionary of their courses and grades.


    students = {
    "Alice": {"Math": 85, "Science": 92},
    "Bob": {"Math": 78, "Science": 88}
    }

#17.Describe the time complexity of accessing elements in a dictionary.

>Accessing elements in a dictionary typically has O(1) average time complexity due to the underlying hash table implementation

#18.In what situations are lists preferred over dictionaries.

>When order matters and you need to access elements by position.

>When the data is small and does not require key-value pairs.

#19.Why are dictionaries considered unordered, and how does that affect data retrieval?

>Dictionaries do not maintain any specific order of elements, which can affect the iteration order. However, the insertion order is preserved in Python 3.7 and later

#20.P Explain the difference between a list and a dictionary in terms of data retrieval.

>Lists use indices for retrieval, suitable for ordered data.

>Dictionaries use keys for retrieval, suitable for associative data with quick lookups

#Practical Question

In [38]:
#1. Write a code to create a string with your name and print it.
a = "Sachin"
print(a)

Sachin

In [39]:
#2.Write a code to find the length of the string "Hello World".
a = "Hello World"
print(len(a))

11

In [40]:
#3.Write a code to slice the first 3 characters from the string "Python Programming".

string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

In [41]:
#4.Write a code to convert the string "hello" to uppercase.

string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

In [42]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

string = "I like apple"
replaced_string = string.replace("apple", "orange")
print(replaced_string)

I like orange

In [43]:
#6.Write a code to create a list with numbers 1 to 5 and print it.

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [44]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4].

numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [45]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [46]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

In [47]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [48]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
a = (100,200,300)
print(a)

(100, 200, 300)

In [49]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(second_to_last)

blue

In [50]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

numbers = (10, 20, 5, 15)
min_number = min(numbers)
print(min_number)

5

In [51]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

In [54]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ('apple', 'banana', 'cherry')
is_kiwi_present = 'kiwi' in fruits
print(is_kiwi_present)

False

In [52]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.

letters = {'a', 'b', 'c'}
print(letters)

{'a', 'b', 'c'}

In [53]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

numbers_set = {1, 2, 3, 4, 5}
numbers_set.clear()
print(numbers_set)

set()

In [55]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.

numbers_set = {1, 2, 3, 4}
numbers_set.remove(4)
print(numbers_set)

{1, 2, 3}

In [56]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [57]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [60]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

person = {"name": "Alice", "age": 30, "city": "Paris"}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'Paris'}

In [58]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [59]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

In [61]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

In [62]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {'name': 'Alice', 'city': 'Paris'}
is_city_key_present = 'city' in person
print(is_city_key_present)

True

In [63]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them alL.

my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_dict = {'name': 'Alice', 'age': 30}

print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'Alice', 'age': 30}

In [64]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print theresult.(replaced)

import random

random_numbers = random.sample(range(1, 101), 5)
random_numbers.sort()
print(random_numbers)

[13, 43, 60, 61, 66]

In [65]:
#28.Write a code to create a list with strings and print the element at the third index.

strings_list = ['apple', 'banana', 'cherry', 'date']
third_element = strings_list[2]
print(third_element)

cherry

In [66]:
#29.Write a code to combine two dictionaries into one and print the result.

dict1 = {'name': 'Alice', 'age': 30}
dict2 = {'city': 'Paris', 'country': 'France'}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'name': 'Alice', 'age': 30, 'city': 'Paris', 'country': 'France'}

In [67]:
#30.Write a code to convert a list of strings into a set.

strings_list = ['apple', 'banana', 'cherry', 'apple']
strings_set = set(strings_list)
print(strings_set)

{'cherry', 'apple', 'banana'}